* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.row {
    position: absolute;
    width: 550px;
    height: 440px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-item-row {
    display: none;
}

.list-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

.item {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    background-color: #96c2d6;
}

.delete-btn {
    box-shadow: inset 0px 0px 74px 0px #73848b;
    background-image: url(img/xmark.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    background-color: #ccc;
}

.delete {
    box-shadow:none;
    background-image: url(img/xmark.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    background-color: blue;
}

.solid-btn {
    box-shadow: inset 0px 0px 74px 0px #73848b;
    background-image: url(img/o-solid.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    background-color: #ccc;
}

.solid {
    background-image: url(img/o-solid.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    background-color: #ff00fa;
}

p {
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    opacity: 0.7;
    font-family: cursive;
}

.draw {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #05ffe8;
    color: red;
    z-index: 9;
    opacity: .8;
}

.playerOne {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: green;
    text-shadow: 2px 3px 3px #00ff0a;
    z-index: 100;
    opacity: .8;
}

.playerTwo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: green;
    text-shadow: 2px 3px 3px #00ff0a;
    z-index: 100;
    opacity: .8;
}



.restart {
    position: relative;
    width: 100%;
    height: 100%;
}

.restart svg {
    display: block;
    width: 60px;
    margin-left: 28px;
}

.restart h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
}

.restart button {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 16px;
    background: #000;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
}

#form {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-row-gap: 20px;
    padding: 50px;
}

.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    align-items: start;
    width: 200px;
}

input:focus {
    outline: none;
}

.form-control label {
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}

.form-control input {
    border: 2px solid #7e7e7e;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    color: #bc10da;
    font-weight: bold;
}

.form-control .submit {
    cursor: pointer;
    font-family: sans-serif;
    padding: 5px 30px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: navy;
    color: #fff;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 20px;
}

#finish {
    display: none;
    z-index: 10000;
    position: absolute;
    bottom: 70px;
    right: 140px;
}

#finish a {
    cursor: pointer;
    font-family: sans-serif;
    padding: 5px 30px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: red;
    color: #fff;
    font-weight: 400;
}

.win {
    background-color: lime;
    /* transition: .3s linear; */
    animation: winner 1s linear infinite;
}

@keyframes winner {
    0%{
        background-color: lime;
    }50%{
        background-color: #3b8a3b;
    }100%{
        background-color: lime;
    }
}